.comicDetail {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff; 
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s, box-shadow 0.3s; 
}


.comicName {
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center; 
    font-family: var(--main-font);
    border-bottom: 2px solid red; 
    padding-bottom: 10px; 
}

.comicImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0; 
    border: 4px solid red; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.comicImage:hover{
    transform: scale(1.02);
}


.comicDescription {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px; 
    font-family: var(--main-font);
}

.characterList {
    list-style-type: none; 
    padding: 0;
}

.characterList li {
    margin: 10px 0; 
    padding: 10px; 
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s; 
}

.characterList li:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}

.characterList a {
    color: red; 
    text-decoration: none; 
    font-weight: bold; 
    font-family: var(--main-font);
}

.characterList a:hover {
    text-decoration: underline; 
    color: #ffffff; 
}
